<div>
    <h3 class="recap-title">Récapitulatif</h3>
    <p class="recap-item"><strong>Titre :</strong> {{ title }}</p>
    <p class="recap-item"><strong>Type de pollution :</strong> {{ pollutionType }}</p>
    <p class="recap-item"><strong>Description :</strong> {{ description }}</p>
    <p class="recap-item"><strong>Date :</strong> {{ observationDate}}</p>
    <p class="recap-item"><strong>Lieu :</strong> {{ location }}</p>
    <p class="recap-item"><strong>Latitude :</strong> {{ latitude }}</p>
    <p class="recap-item"><strong>Longitude :</strong> {{ longitude }}</p>
    <p class="recap-item"><strong>Photo :</strong></p>
    <img class="recap-photo" src='{{ photoUrl }}' alt="Photo">
</div>